$boxShadow: 0 0 20px #999;
.yu-card {
  width: 200px;
  padding: 20px;
  border-radius: 6px;
  background-color: #fff;
  &-always-boxshadow {
    box-shadow: $boxShadow;
  }
  &-hover-boxshadow {
    transition: all 0.5s;
    &:hover,
    &:focus {
      box-shadow: $boxShadow;
    }
  }
}
